<include file="Public/header"/>
<include file="Public/left"/>
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>365</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


    <div id="content">

        <div id="content-header">
          <div id="breadcrumb"> <a href="__SELF__" class="tip-bottom" data-original-title="返回首页"><i class="icon-home"></i> 首页</a></div>
            <h1> 首页</h1>
        </div>
        <div class="container-fluid" style="overflow-y: auto; overflow-x: hidden; height: 460px;">
            首页

        </div>
    </div>
    
<ul class="typeahead dropdown-menu"></ul>
</body></html>